@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Truculenta:opsz,wght@12..72,100..900&display=swap');

* {
    box-sizing: border-box;
}
body{
    font-family: 'Playwrite GB J', san-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0
}

.container {
    display: flex;
}


